<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Submit PayForBlob Transaction</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>

<header class="header">
  <div>
    <h1>Submit PFB Transaction </h1>
  </div>
</header>

<body>
  <form id="form" method="post">
    <div>
      <label for="data" style="color:rgb(27, 194, 110)">Please make sure your celestia node is available</label>
    </div>
    <div style="margin-top: 30px;">
      <div>
        <label for="message">message :</label>
        <input type="textarea" id="message" name="message" style="min-height: 100px;min-width: 300px;"
          placeholder="Please type your message" required />
      </div>
    </div>
    <div>
      <button type="submit" id="submit">submit</button>
    </div>
  </form>
  <div id="tx_result" class="result"></div>

  <script src="/static/js/main.js"></script>
</body>

</html>